:root {
  --color_1: rgba(33, 69, 27, 1);
  --color_2: rgba(66, 133, 244, 1);
  --color_3: rgba(255, 255, 255, 1);
  --color_4: rgba(0, 0, 0, 1);
  --color_5: rgba(45, 46, 50, 1);
  --color_6: rgba(244, 250, 235, 1);
  --color_7: rgba(0, 148, 68, 1);
  --color_8: rgba(108, 108, 108, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_1);
  direction: ltr;
  font-weight: 700;
  font-style: normal;
}

.MuiFormControl-root {
  background-color: #f3f8fb !important;
  border: none !important;
}

html,
body,
#root {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html {
  margin: 0;
  padding: 0.5rem;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}
